<div class="seccion-inicio-de-sesion">
    <a class="link-volver" routerLink="/"><i class="bi bi-arrow-left-circle-fill"> Volver a inicio</i></a>
    <div class="contenedor-imagen">
        <img id="logo" [src]="currentImageSrc" alt="Logo" />
    </div>
    <section class="sign-in-form">
        <div class="contenido-form">
            <h3>¡Bienvenido de nuevo!</h3>
            <p>Ingresa tus credenciales para iniciar sesión</p>
            <form class="form" action="">
                <label for="email">Correo</label>
                <br>
                <div class="input-wrapper">
                    <i class="bi bi-envelope-fill input-icon"></i>
                    <input 
                        type="email" 
                        placeholder="Ingresa tu correo" 
                        required 
                        [(ngModel)]="formData.correo" 
                        name="email"
                        [class.input-error]="emailError"
                        (input)="onEmailInput()">
                </div>
                <br>
                <label for="password">Contrase&ntilde;a</label>
                <br>
                <div class="input-wrapper">
                    <i class="bi bi-lock-fill input-icon"></i>
                    <input 
                        type="password" 
                        placeholder="Ingresa tu contrase&ntilde;a" 
                        required
                        [(ngModel)]="formData.contrasena" 
                        name="password"
                        [class.input-error]="passwordError"
                        (input)="onPasswordInput()">
                </div>
                <br>
                <div class="opciones-adicionales">
                    <label class="gris" for="remember-me">
                        <input type="checkbox" id="remember-me">
                        Recordar
                    </label>
                    <a [routerLink]="['/auth/recuperar-contrasena']">¿Olvidaste tu contrase&ntilde;a?</a>
                </div>
                <button (click)="iniciarSesion(formData.correo, formData.contrasena)" type="submit">Iniciar
                    Sesión</button>
                <div *ngIf="showError" class="error-message">
                    <i class="bi bi-exclamation-circle-fill"></i> {{ errorMessage }}
                </div>
                <br>
            </form>
            <p class="registro">¿No tienes cuenta? <a [routerLink]="['/auth/registro']">Registrate</a></p>
        </div>
        <div class="mensaje-confirmacion">
            <h3>inicio de sesión exitoso</h3>
                <span class="loader"></span>
            <p>Redirigiendo...</p>
        </div>
    </section>
</div>