<section class="dashboard">
    <h1>Hola Usuario!</h1>
    <h4>Bienvenido a tu Dashboard</h4>

    <section class="contenido-dashboard">
        <div class="fics">
            <div>
                <h3>Fondos de inversión recomendados</h3>
            </div>
            <div class="links">
                <button *ngFor="let fondo of FondosUsuario" class="fondos" [routerLink]="['/detalle-fondo']" [queryParams]="{ id: fondo.id }">
                    <div class="fondo">
                        <section class="top">
                            <img id="logo" [src]="fondo.logo" alt="Logo" />
                            <p>{{fondo.gestor}}</p>
                        </section>
                        <section class="bottom">
                            <p class="riesgo"
                                [id]="fondo.riesgo === 'Riesgo Alto' ? 'alto' : (fondo.riesgo === 'Riesgo Medio' ? 'medio' : (fondo.riesgo === 'Riesgo Bajo' ? 'bajo' : (fondo.riesgo === 'Riesgo Variable' ? 'variable' : '')))">
                                {{fondo.riesgo}}
                            </p>
                            <h5>{{fondo.nombre_fic}}</h5>
                            <p>{{fondo.rentabilidad}}</p>
                        </section>
                    </div>
                </button>
                <button class="ver-mas-fics" routerLink="fics/explorar">Ver más<i class="bi bi-arrow-right-short"></i></button>
            </div>
        </div>
        <section class="consejo">
            <h3>Consejo del día</h3>
            <div class="consejo-info">
                <p>{{consejo}}</p>
                <button class="ver-mas" routerLink="/aprende">Aprender m&aacute;s<i class="bi bi-arrow-right-short"></i></button>
            </div>
        </section>
    </section>
</section>