<section class="dashboard">
    <h1>Hola Usuario!</h1>
    <h4>Bienvenido a tu Dashboard</h4>

    <section class="contenido-dashboard">
        <div class="fics">
            <app-carrusel-fondos 
                [fondos]="FondosUsuario"
                [titulo]="'Fondos de inversión recomendados'">
            </app-carrusel-fondos>
        </div>
        <section class="consejo">
            <h3>Consejo del día</h3>
            <div class="consejo-info">
                <p>{{consejo}}</p>
                <button class="ver-mas" routerLink="/aprende">Aprender m&aacute;s<i class="bi bi-arrow-right-short"></i></button>
            </div>
        </section>
    </section>
</section>