<section class="seleccion-tipo">
    <h4>
        Opciones de Tipo de Inversión
    </h4>
    <div class="opciones">
        <a (click)="explorarFondos()" class="seleccion">
            <div class="seleccion-info">
                <img src="assets/images/FIC.webp" alt="Seleccion 1" class="logo">
                <p>FIC - Fondos de Inversión Colectiva</p>
            </div>
        </a>
        <a href="" class="seleccion">
            <div class="seleccion-info">
                <img src="assets/images/CAAs_Logo.webp" alt="Seleccion 2" class="logo">
                <p>FIP - Fondos de Inversión Privados</p>
            </div>
        </a>
        <a href="" class="seleccion">
            <div class="seleccion-info">
                <img src="assets/images/CAAd_Logo.webp" alt="Seleccion 3" class="logo">
                <p>CAA - Cuenta de Ahorro Automático</p>
            </div>
        </a>
    </div>
</section>