<!--<app-splash-screen [show]="showSplash"></app-splash-screen>-->

<section class="" *ngIf="showContent">
    <div class="mensaje-landing">
        <div class="izq">
            <h1 hidden><span>OWL</span></h1>
            <h1>Toda la información que necesitas en un solo lugar</h1>
            <h2>Comparación de Fondos de Inversión Colectiva con datos actualizados mensualmente</h2>
            <button routerLink="/auth/registro" class="ver-mas">Conocer m&aacute;s<i class="bi bi-arrow-right-short"></i></button>
        </div>
        <div class="der">
            <img id="logo" src="assets/images/OwlLandingBranch2.webp" alt="Logo" />
        </div>
    </div>
    <div hidden class="seccion-informacion">
        <div class="">
            <h2>¿Qué es OWL?</h2>
            <p>OWL es una plataforma que te permite acceder a una amplia variedad de FICs, facilitando la búsqueda y el acceso a tus historias favoritas.</p>
        </div>
        <div class="">
            <h2>¿Cómo funciona?</h2>
            <p>Simplemente crea una cuenta, inicia sesión y comienza a explorar nuestra colección de FICs. Puedes buscar por título, autor o género.</p>
        </div>
    </div>
</section>