/*-----Estilos del header general-----*/
header {
  background-color: var(--color-headerfooter);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: var(--light-box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  height: var(--header-size);
}

#logo {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

/*-----Estilos del navbar general -----*/
.nav {
  display: flex;
}

.nav button {
  border: none;
  width: fit-content;
  height: var(--header-size);
  background-color: transparent;
  border-bottom: 1px solid transparent;
  transition: 0.2s ease;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
}

.nav button:hover {
  color: var(--color-accent);
  border-bottom: 4px solid var(--color-accent);
  transition: 0.2s ease;
}

.nav button.router-link-active {
  color: var(--color-accent);
  border-bottom: 4px solid var(--color-accent);
  transition: 0.2s ease;
}

.nav p{
  cursor: pointer;
  color: var(--color-primary);
  transition: 0.3s ease;
  margin: 0;
  border-bottom: 4px solid transparent;
  margin-bottom: -32px;
  padding-bottom: 20px;
}

.nav p.router-link-active {
  color: var(--color-accent);
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 600;
  border-bottom: 4px solid var(--color-accent);
  margin-bottom: -28px;
  padding-bottom: 4px;
}

.nav p:hover {
  color: var(--color-accent);
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
}
/**/
#dropdownMenuButton {
  border: none;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-secondary);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--color-headerfooter);
  border-radius: var(--border-radius);
  box-shadow: var(--light-box-shadow);
  margin-top: 8px;
  min-width: 200px;
  opacity: 0;
  transform: translateY(-15px);
  pointer-events: none;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(-9px);
  pointer-events: all;
}

.dropdown-item {
  display: flex;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/*-----seccion de autenticacion-----*/
.auth button {
  border: none;
  border-radius: var(--border-radius);
  padding: 1rem 2rem;
  cursor: pointer;
}

.registro {
  background-color: var(--color-main);
  color: var(--color-headerfooter);
  transition: 0.3s;
  font-weight: bold;
}

.registro:hover {
  transition: 0.3s;
  
  box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.79);
}

.login {
  background-color: transparent;
  color: var(--color-text);
  transition: 0.5s;
  margin-right: 5px;
}

.login:hover {
  background-color: aliceblue;
  transition: 0.3s;
}

.dropdown-menu i {
  color: var(--color-secondary);
  font-size: 15px;
  margin-left: 10px;
}

.dropdown-divider {
  border-top: 1px solid var(--color-secondary);
  margin: 5px 0;
}
/*-----seccion de usuario-----*/
i {
  color: var(--color-secondary);
  font-size: var(--large-size);
}


/*-----Responsiveness-----*/
@media screen and (max-width: 1024px) {
  /* Ocultar el header en pantallas pequeñas   
  header {
        display: none;
    }
  */
}