/*-----Estilos del header general-----*/
header {
  background-color: var(--color-headerfooter);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: var(--light-box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.5%;
  padding-right: 2.5%;
  height: var(--header-size);
}

#logo {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

/*-----Estilos del menu (navbar)-----*/
nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

nav a {
  color: var(--color-text);
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

/*-----seccion de usuario-----*/
.nav-usuario {
  display: flex;
}

.nav-usuario button {
  border: none;
  width: fit-content;
  height: var(--header-size);
  background-color: transparent;
  border-bottom: 1px solid transparent;
  transition: 0.2s ease;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-usuario button:hover {
  color: var(--color-accent);
  border-bottom: 4px solid var(--color-accent);
  transition: 0.2s ease;
}

.nav-usuario button.router-link-active {
  color: var(--color-accent);
  border-bottom: 4px solid var(--color-accent);
  transition: 0.2s ease;
}

.nav-usuario p,
.nav-administrador p {
  cursor: pointer;
  color: var(--color-primary);
  transition: 0.3s ease;
  margin: 0;
  border-bottom: 4px solid transparent;
  margin-bottom: -32px;
  padding-bottom: 20px;
}

.nav-usuario p.router-link-active,
.nav-administrador p.router-link-active {
  color: var(--color-accent);
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 600;
  border-bottom: 4px solid var(--color-accent);
  margin-bottom: -28px;
  padding-bottom: 4px;
}

.nav-usuario p:hover,
.nav-administrador p:hover {
  color: var(--color-accent);
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
}

/*-----seccion de autenticacion-----*/
.auth button {
  border: none;
  border-radius: var(--border-radius);
  padding: 1rem 2rem;
  cursor: pointer;
}

.registro {
  background-color: var(--color-main);
  color: var(--color-headerfooter);
  transition: 0.3s;
  font-weight: bold;
}

.registro:hover {
  transition: 0.3s;
  
  box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.79);
}

.login {
  background-color: transparent;
  color: var(--color-text);
  transition: 0.5s;
  margin-right: 5px;
}

.login:hover {
  background-color: aliceblue;
  transition: 0.3s;
}

/*-----seccion de usuario-----*/
i {
  color: var(--color-secondary);
  font-size: var(--large-size);
}


/*-----Responsiveness-----*/
@media screen and (max-width: 1024px) {
  /* Ocultar el header en pantallas pequeñas   
  header {
        display: none;
    }
  */
}