/* ==========================================================================
   Tipografia y Estilos Base
   ========================================================================== */
   h5 {
    font-size: 1.67rem;
    font-weight: 500;
    margin: 0;
}

p {
    font-size: 16px;
    font-weight: 300;
}



.bottom p {
    color: hwb(223 62% 25%);
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
}

.bottom h5 {
    font-size: 16px;
    width: 80%;
    text-align: center;

}

/* ==========================================================================
   Seccion de Busqueda
   ========================================================================== */
.titulo {
    display: flex;
}

#OwlLupa {
    width: 110px;
    position: absolute;
    right: 180px;
    top: 12%;
}

.contenedor-imagen {
    transform: translateY(20px);
}

.contenedor-busqueda {
    margin-top: 10px;
}

.input-busqueda {
    width: 90%;
    padding: 10px 40px;
    margin-right: 10px;
    font-size: 16px;
    color: var(--color-texto);
    background-color: var(--color-contenido);
    border: none;
    border-radius: var(--internal-border-radius);
    box-shadow: var(--light-box-shadow);
    transition: 0.3s ease;
}

.input-busqueda:focus {
    outline: none;
    box-shadow: var(--medium-box-shadow);
    transition: 0.3s ease;
}

.contenedor-busqueda button {
    padding: 10px 15px;
    color: var(--color-texto);
    background-color: var(--color-contenido);
    border: none;
    border-radius: var(--internal-border-radius);
}

.dropdown-content {
    position: relative;
    width: max-content;
    display: none;
    background-color: var(--color-contenido);
}

/* ==========================================================================
    Resultados de la Busqueda
   ========================================================================== */
.resultados {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 20px;
}

.result-item {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    background-color: var(--color-contenido);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--light-box-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fic {
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    background-color: var(--color-contenido);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--light-box-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.result-item:hover {
    transform: translateY(-2.5px);
    box-shadow: var(--medium-box-shadow);
}

.fic:hover {
    transform: translateY(-2.5px);
    box-shadow: var(--medium-box-shadow);
}

.result-info {
    display: flex;
    text-align: left;
}

.riesgo {
    border-radius: var(--border-radius) 0 var(--border-radius) 0;
    color: white;
    font-weight: 500;
    font-size: 15px;
    width: 70px;
    margin-bottom: 5px;
}

/* Result Item Layout */

.top {
    background-color: hwb(222 96% 0%);
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.top img {
    justify-content: center;
}

.bottom {
    margin-top: 10px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.izq p {
    margin: 0;
    font-size: smaller;
    color: var(--color-contenido);
    border-radius: 10px;
    padding: 0 10px;
}

.der {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo {
    height: 60px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: var(--internal-border-radius);
}

.no-results {
    text-align: center;
    margin-top: 100px;
    font-size: 1.5rem;
    color: var(--color-general-text-light);
}

.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: var(--color-main);
  font-size: 7px;
  position: relative;
  margin: 40px auto;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

/* ==========================================================================
   Indicadores de Riesgo
   ========================================================================== */

#alto {
   background-color: #1452a8;
}

#medio {
    background-color: var(--color-main)
}

#bajo {
    background-color: #8fc6f5;
}

#variable {
    background-color: hwb(215 52% 65%);
}

@media (max-width: 768px) {
    .resultados {
      grid-template-columns: repeat(2, 1fr);   
    }
}

@media (max-width: 480px) {
    .resultados {
      grid-template-columns: repeat(1, 1fr);   
    }
    
}
