<section class="content">
    <div class="titulo">
        <div class="texto">
            <h2>Explorar Fondos</h2>
            <p>Encuentra el fondo de inversión que mejor se adapte a tus necesidades.</p>
        </div>
            <img id="OwlLupa" src="assets/images/OwlLupa.png" alt="Logo" />
    </div>
<div class="contenedor-busqueda">
    <input class="input-busqueda" 
           type="text" 
           placeholder="Busca un fondo..."
           (input)="buscarFondos($event)">
    <button><i class="bi bi-filter"></i></button>
    <button><i class="bi bi-search"></i></button>
</div>
<div *ngIf="fondosFiltrados.length > 0" class="results-grid">
    <button *ngFor="let fondo of fondosFiltrados" class="result-item"  [routerLink]="['/detalle-fondo']" [queryParams]="{ id: fondo.id }">
        <div class="result-info">
            <section class="izq">
                <img id="logo" [src]="fondo.logo" alt="Logo" />
                <p [id]="fondo.riesgo === 'Riesgo Alto' ? 'alto' : (fondo.riesgo === 'Riesgo Medio' ? 'medio' : (fondo.riesgo === 'Riesgo Bajo' ? 'bajo' : (fondo.riesgo === 'Riesgo Variable' ? 'variable' : '')))">{{fondo.riesgo}}</p>
            </section>
            <section class="der">
                <h5>{{fondo.nombre}}</h5>
                <p>{{fondo.rentabilidad}}</p>
            </section>
        </div>
    </button>
</div>
<div *ngIf="fondosFiltrados.length === 0" class="no-results">
    <p class="no-results-text">No se encontraron fondos que coincidan con tu búsqueda.</p>
</div>
</section>