<section class="content">
<button class="tour" (click)="startTour()">?</button>
    <div class="titulo">
        <div class="texto">
            <h2>Explorar Fondos</h2>
            <p>Encuentra el fondo de inversión que mejor se adapte a tus necesidades.</p>
        </div>
            <img hidden id="OwlLupa" src="assets/images/OwlLupa.webp" alt="Logo" />
    </div>
<div class="contenedor-busqueda">
    <input class="input-busqueda" 
           type="text" 
           placeholder="Busca un fondo..."
           (input)="buscarFondos($event)">
    <div class="buttons">
        <div class="select-with-icon" title="Filtrar por gestor">
            <select class="custom-select icon-only" (change)="filtrarPorGestor($any($event.target).value)" aria-label="Filtrar por gestor">
                <option value="" [attr.data-icon]="'assets/images/FIC.webp'">Gestor</option>
                <option *ngFor="let gestor of gestoresUnicos" [value]="gestor" [attr.data-icon]="'assets/images/' + gestor + 'Logo.webp'">{{gestor}}</option>
            </select>
            <img [src]="selectedGestorLogo" class="selected-logo" [alt]="gestorSeleccionado || 'Gestor'">
        </div>
        <select class="custom-select" (change)="filtrarPorTipo($any($event.target).value)" aria-label="Filtrar por tipo de fondo">
            <option value="">Tipo</option>
            <option *ngFor="let tipo of tiposFondoUnicos" [value]="tipo" [class]="getTipoId(tipo)">{{tipo}}</option>
        </select>
        <button hidden><i class="bi bi-search"></i></button>
        <select class="custom-select" (change)="handleEAChange($any($event.target).value)" aria-label="Tipo de EA">
            <option value="">EA</option>
            <option value="promedio">EA Promedio</option>
            <option value="minima">EA Minima</option>
            <option value="maxima">EA Maxima</option>
        </select>
        <select class="custom-select" (change)="aplicarFiltro($any($event.target).value)" aria-label="Ordenamiento">
            <option value="">Ordenar</option>
            <option value="nombre-asc">Nombre A-Z</option>
            <option value="nombre-desc">Nombre Z-A</option>
            <option value="ea-asc">EA Ascendente</option>
            <option value="ea-desc">EA Descendente</option>
        </select>
</div>
</div>

<div class="resultados-recomendados">

</div>

<div *ngIf="fondosFiltrados.length > 0" class="resultados">
    <button *ngFor="let fondo of fondosFiltrados" class="fic" [routerLink]="['/fics/detalle']" [queryParams]="{ id: fondo.id }">
        <div class="info-fic">
            <div class="top">
                <p class="riesgo" [id]="getTipoId(fondo.tipo)">{{fondo.tipo}}</p>
                <img id="logo" [src]="fondo.logo" alt="Logo" />
            </div>
            <div class="bottom">     
                <h5>{{fondo.nombre_fic}}</h5>
                <p>{{fondo.rentabilidad}}</p>
                <p id="ea">{{fondo.ea}}%</p>
            </div>
                <div class="hover-info">
                    <div class="triangle"></div>    
                    <div *ngFor="let rentabilidad_historicas of fondo.rentabilidad_historicas" class="rentabilidades">
                        <p>{{rentabilidad_historicas.tipo_de_participacion}} - <span>{{(rentabilidad_historicas.ultimo_mes*100) | number:'1.2-2'}}%</span></p>
                    </div>
                </div>
            </div>
    </button>
</div>


<div *ngIf="fondosFiltrados.length === 0 && error === false" class="no-results">
    <span *ngIf="errorBusqueda===false" class="loader"></span>
    <p *ngIf="errorBusqueda===true && error===false" class="no-results">No se encontraron resultados que coincidan con tu busqueda.</p>
</div>

<div *ngIf="error === true" class="error">
    <p class="no-results">Ocurrió un error al cargar los fondos. Por favor, intenta nuevamente más tarde.</p>
</div>
</section>