<section class="aprende">
    <div class="titulo">
        <h2>Aprende sobre el mundo financiero</h2>
        <img id="OwlGuia" src="assets/images/OwlGuia.png" alt="LogoOwl">
        <div class="links">
            <a (click)="anterior()">{{ nombreURL }} </a><i class="bi bi-arrow-right-short"></i>
            <p> aprende</p>
        </div>
    </div>
    <h3>Qué es invertir y por qué hacerlo?</h3>

    <p>Invertir es el acto de poner tu dinero a trabajar, con el objetivo de obtener ganancias o rendimientos en el
        futuro. En lugar de dejar el dinero guardado, lo asignas a instrumentos financieros o proyectos que puedan
        generar un retorno, como fondos de inversión, acciones, bienes raíces, entre otros.</p>

    <div>
        <h3>Diferencias entre ahorrar e invertir</h3>
        <ul class="diferencias">
            <li><i class="bi bi-check-circle-fill"></i> Ahorrar es guardar dinero sin buscar crecimiento.</li>
            <li><i class="bi bi-check-circle-fill"></i> Invertir es poner dinero a trabajar para obtener ganancias.</li>
            <li><i class="bi bi-check-circle-fill"></i> Ahorrar tiene poco o ningun riesgo, pero genera pocos beneficios
            </li>
            <li><i class="bi bi-check-circle-fill"></i> Invertir implica riesgos, pero puede generar mayores beneficios
                a largo plazo.</li>
        </ul>
    </div>
    <h3>Beneficios de invertir</h3>
    <div class="beneficios">
        <div class="beneficio">
            <img src="https://img.icons8.com/fluency/240/stocks-growth--v1.png" alt="stocks-growth--v1"/>
            <h4>Generas ingresos extra:</h4>
            <p>Dependiendo de la inversión, puedes recibir rentas, dividendos o intereses.</p>
        </div>
        <div class="beneficio">
            <h4>Tu dinero crece en el tiempo:</h4>
            <p>No se queda quieto como en el ahorro, sino que genera ganancias.</p>
        </div>
        <div class="beneficio">
            <h4>Proteges tu dinero de la inflación:</h4>
            <p>Lo que guardas hoy no pierde valor mañana.</p>
        </div>
        <div class="beneficio">
            <h4>Alcanzas metas más rápido:</h4>
            <p>Comprar casa, estudiar, viajar o retirarte con tranquilidad.</p>
        </div>
        <div class="beneficio">
            <h4>Construyes seguridad financiera:</h4>
            <p>Al invertir de manera constante, tu patrimonio se fortalece.</p>
        </div>
        <div class="beneficio">
            <h4>Aprendes a manejar riesgos:</h4>
            <p>Desarrollas hábitos financieros inteligentes.</p>
        </div>
    </div>
</section>