<div class="overlay" style="z-index: 999">
        <button class="tour" (click)="startTour()">?</button>
        <img *ngIf="mostrarBienvenida || mostrarMensajePostTour" id="OwlAyuda90" class="entrada" src="assets/images/OwlAyuda90.webp" alt="">
        <div *ngIf="mostrarBienvenida" class="mensaje-owl" [ngClass]="{'entrada': mostrarBienvenida, 'salida': !mostrarBienvenida}">
                <p class="titulo-mensaje">¡Hola!</p>
                <p class="contenido-mensaje">Recuerda que puedes ver la guía de información del FIC haciendo clic en el botón ?</p>
                <button class="boton-mensaje" id="boton-mensaje" (click)="closeWelcomeScreen()" (keydown.enter)="closeWelcomeScreen()">Ok</button>
        </div>
        <div *ngIf="mostrarMensajePostTour" class="mensaje-owl" [ngClass]="{'entrada': mostrarMensajePostTour, 'salida': !mostrarMensajePostTour}" style="width: 200px;">
                <p class="titulo-mensaje">¡Excelente!</p>
                <p class="contenido-mensaje">Si vuelves a tener dudas, solo pulsa aquí y verás el tutorial de nuevo</p>
                <button class="boton-mensaje" (click)="cerrarMensajePostTour()" (keydown.enter)="cerrarMensajePostTour()">Ok</button>
        </div>
</div>

<div *ngIf="mostrarDialogoTutorial" class="fondo-modal">
    <div class="ventana-info" style="max-width: 400px;">
        <div class="contenedor-info" style="text-align: center;">
            <h2>¡Bienvenido!</h2>
            <p>¿Te gustaría ver un recorrido guiado por las principales características del fondo?</p>
            <div style="display: flex; justify-content: space-around; margin-top: 20px;">
                <button class="boton-ok" (click)="iniciarTutorial(true)">Sí, por favor</button>
                <button class="boton-ok" style="background-color: #6c757d;" (click)="iniciarTutorial(false)">No, gracias</button>
            </div>
        </div>
    </div>
</div>

<a class="fic-link" href="{{fondo?.url}}" target="_blank" rel="noopener noreferrer">
    <button class="fic-link">
        <p>WWW</p>
    </button>
</a>

<div *ngIf="mostrarPolitica" class="fondo-modal" (click)="alternarPolitica()">
    <div class="ventana-info" (click)="$event.stopPropagation()">
        <div class="contenedor-info">
            <button class="boton-cerrar" (click)="alternarPolitica()"><i style="color: var(--color-main);" class="bi bi-x"></i></button>
            <h2>Política de Inversión</h2>
            <p>{{fondo?.politica_de_inversion}}</p>
            <button class="boton-ok" (click)="alternarPolitica()">Cerrar</button>
        </div>
    </div>
</div>

<div *ngIf="mostrarBienvenida===true" id="welcome-screen" class="welcome-screen">
</div>
<div class="volver">
    <a class="link-volver" href="fics/explorar"><i class="bi bi-arrow-left-circle-fill"> Volver a explorar
            fondos</i></a>
</div>
<section>
    <div class="titulo">
        <div class="titulo-texto">
            <img id="logo" [src]="fondo?.logo" alt="Logo" />
            <h1>{{fondo?.nombre_fic}} <i id="iconoPolitica" class="bi bi-question-circle" (click)="alternarPolitica()"></i></h1>
        </div>
        <p class="riesgo" [id]="getTipoId(fondo?.tipo)">{{fondo?.tipo}}</p>
    </div>
    <div class="informacion-top">
        <div class="card" id="focus">
            <h3>Rentabilidad</h3>
            <p>{{rentabilidadGeneral}}%</p>
            <p hidden (click)="mostrarCalculadora()" id="verRendimiento">Calcular inversion <i
                    class="bi bi-arrow-up-right"></i></p>
        </div>
        <div id="gestor" class="card">
            <h3>Gestor</h3>
            <p>{{fondo?.gestor}}</p>
        </div>
        <div id="custodio" class="card">
            <h3>Custodio</h3>
            <p>{{fondo?.custodio}}</p>
        </div>
        <div class="card">
            <h3>Fecha de corte</h3>
            <p>{{fondo?.fecha_corte | date:'dd - MM - yyyy'}}</p>
        </div>
    </div>

    <div class="informacion-rendimiento">
        <div id=rendimiento-card class="card">
            <div class="header-rendimiento">
                <h3>Comportamiento en el tiempo</h3>
                <div class="participacion-selector" [style.visibility]="participaciones.length <= 1 ? 'hidden' : 'visible'">
                    <button class="participaciones" (click)="mostrarPart()">
                        <span class="participacion-actual">{{tipoParticipacion}}</span>
                        <i class="bi bi-chevron-down"></i>
                    </button>
                    <div class="participaciones-dropdown">
                        <ul>
                            <li *ngFor="let participacion of participaciones" 
                                (click)="seleccionarPart(participacion)"
                                [class.selected]="participacion === tipoParticipacion">
                                {{participacion}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div #chartRentabilidad class="other-chart-container"></div>
        </div>
        <div id="info-fondo">
            <h3>Información general</h3>
            <div class="card-info">
                <div class="item">
                    <i class="bi bi-calendar-week-fill"></i>
                    <p><span>Inicio de operaciones</span></p>
                    <p>{{fondo?.caracteristicas?.[0]?.fecha_inicio_operaciones | date:'dd - MM - yyyy'}}</p>
                </div>
                 <div class="item">
                    <i class="bi bi-currency-exchange"></i>
                    <p><span>Valor del fondo</span></p>
                    <p>{{fondo?.caracteristicas?.[0]?.valor | currency:'COP':'symbol':'1.2-2'}}</p>
                </div>
                 <div class="item">
                    <i class="bi bi-briefcase-fill"></i>
                    <p><span>Unidades vendidas</span></p>
                    <p>{{fondo?.caracteristicas?.[0]?.no_unidades_en_circulacion | number}}</p>
                </div>
                <div class="item">
                    <i class="bi bi-piggy-bank-fill"></i>
                    <p><span>Tipo de fondo</span></p>
                    <p>{{ (fondo?.caracteristicas?.[0]?.tipo?.replace('Fondo de Inversión Colectiva', '')) | titlecase}}</p>
                </div>
                <div class="item">
                    <i class="bi bi-percent"></i>
                    <p><span>Calificación</span></p>
                    <p>{{fondo?.calificaciones?.[0]?.calificacion}}%</p>
                </div>
                <div class="item">
                    <i class="bi bi-people-fill"></i>
                    <p><span>Entidad Calificadora</span></p>
                    <p>{{fondo?.calificaciones?.[0]?.entidad_calificadora}}</p>
                </div>
            </div>
            <div class="item">
                    <i style="color: var(--color-main);" class="bi bi-clock-fill"></i>
                    <p><span>Última calificación</span></p>
                    <p>{{fondo?.calificaciones?.[0]?.fecha_ultima_calificacion | date:'dd - MM - yyyy'}}</p>
                </div>
        </div>
    </div>

    <div class="charts-grid">
        <div class="principales-inversiones">
            <h3>Principales inversiones</h3>
            <div #chartInversiones id="chartInversiones" class="chart-container"></div>
        </div>
        <div class="duraciones-plazo">
            <h3>Duraciones por plazo</h3>
            <div #chartDuracionesPlazo class="chart-container"></div>
        </div>
    </div>

    <div class="composiciones">
        <div class="composicion">
            <div #chartCalificacion class="chart-container">
            </div>
        </div>
        <div class="composicion">
            <div #chartTipoRenta class="chart-container"></div>
        </div>
        <div class="composicion">
            <div #chartPaisEmisor class="chart-container"></div>
        </div>
        <div class="composicion">
            <div #chartMoneda class="chart-container"></div>
        </div>
        <div class="composicion">
            <div #chartActivo class="chart-container"></div>
        </div>
        <div class="composicion">
            <div #chartSectorEconomico class="chart-container"></div>
        </div>
    </div>
</section>