<!-- 
FIC
-   id
-   logo
-   nombre
-   gestor
-   custodio
-   fechaCorte
-   politicaInversion
-   link
-   riesgo
-   rentabilidad
-   calificaciones
    -   id
    -   calificacion
    -   fechaUltimaCalificacion
    -   entidadCalificadora
-   composiciones
    -   id
    -   calificacion
    -   tipoRenta
    -   paisEmisor
    -   moneda
    -   activo
    -   valoresComposiciones
        -   id
        -   valor
        -   dato
-   rentabilidadVolatilidades
    -   id
    -   tipoIndicador
    -   tipoParticipacion
    -   ultimoMes
    -   ultimos3Meses
    -   ultimos6Meses
    -   ultimos12Meses
    -   ultimos2Anios
    -   ultimos3Anios
-   principalesInversiones
    -   id
    -   emisor
    -   participacionDelEmisor
-   plazoDuraciones
    -   id
    -   inversionesPorPlazo
    -   participacion
-   caracteristicas
    -   id
    -   calificacion
    -   tipoDeRenta
    -   sectorEconomico
    -   paisEmisor
    -   moneda
    -   activo
-->

<section>
    <div class="volver">
        <a class="link-volver" href="fics/explorar"><i class="bi bi-arrow-left-circle-fill"> Volver a explorar
                fondos</i></a>
    </div>
    <div class="titulo">
        <div class="titulo-texto">
            <img id="logo" [src]="fondo?.logo" alt="Logo" />
            <h1>{{fondo?.nombre_fic}}</h1>
        </div>
        <p class="riesgo"
            [id]="fondo?.riesgo === 'Alto' ? 'alto' : (fondo?.riesgo === 'Medio' ? 'medio' : (fondo?.riesgo === 'Bajo' ? 'bajo' : (fondo?.riesgo === 'Riesgo Variable' ? 'variable' : '')))">
            Riesgo {{fondo?.riesgo}}</p>
    </div>
    <div class="informacion-general">
        <div class="card" id="focus">
            <h3>Efectivo Anual</h3>
            <p>{{fondo?.rentabilidad}}</p>
            <p hidden (click)="mostrarCalculadora()" id="verRendimiento">Calcular inversion <i
                    class="bi bi-arrow-up-right"></i></p>
        </div>
        <div class="card">
            <h3>Gestor</h3>
            <p>{{fondo?.gestor}}</p>
        </div>
        <div class="card">
            <h3>Custodio</h3>
            <p>{{fondo?.custodio}}</p>
        </div>
        <div class="card">
            <h3>Fecha de corte</h3>
            <p>{{fondo?.fechaCorte}}</p>
        </div>

    </div>

    <div class="informacion rendimiento">
        <div class="card" style="width: 65%; margin-top: 20px;">
            <div class="titulo-rendimiento">
                <h3>Comportamiento del fondo de inversión</h3>
                <i class="bi bi-filter"></i>
            </div>
        </div>
    </div>

    <div class="composiciones">
        <div class="composicion">
            <div #chartCalificacion class="chart-container">
            </div>
        </div>
        <div class="composicion">
            <div #chartTipoRenta class="chart-container"></div>
        </div>
        <div class="composicion">
            <div #chartPaisEmisor class="chart-container"></div>
        </div>
        <div class="composicion">
            <div #chartMoneda class="chart-container"></div>
        </div>
        <div class="composicion">
            <div #chartActivo class="chart-container"></div>
        </div>
        <div class="composicion">
            <div #chartSectorEconomico class="chart-container"></div>
        </div>
    </div>
</section>