#content {
    padding-top: calc(var(--header-size) + 30px);
    padding-bottom: calc(var(--footer-size) + 30px);
    /*padding-bottom: var(--footer-size);*/
    min-height: calc(100vh);
    background-color: var(--color-background);
    padding-left: 110px;
    padding-right: 110px;
}

/* Responsiveness 

@media screen and (max-width: 1024px) {
  /*
  main {
    padding-top: 50px;
  }
  
}
  */