main {
    padding-top: calc(var(--header-size) + 50px);
    /*padding-bottom: var(--footer-size);*/
    min-height: calc(100vh);
    background-color: var(--color-background);
    padding-left: 50px;
    padding-right: 50px;
}



/* Responsiveness */

@media screen and (max-width: 1024px) {
  main {
    padding-top: 0;
  }
}