.sign-up-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    box-shadow: var(--light-box-shadow);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color-primary);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: var(--color-secondary);
}