<div class="seccion-registro">
    <div class="contenedor-imagen">
        <img id="logo" [src]="currentImageSrc" alt="Logo" />
    </div>
    <section class="registro-form">
        <h3>¡Bienvenido!</h3>
        <p>Registrate para entrar al mundo financiero</p>
        <form action="">
            <label for="name">Nombre</label>
            <br>
            <input type="text" placeholder="Nombre completo" required>
            <br>
            <label for="email">Correo</label>
            <br>
            <input type="email" placeholder="ej: email@ejemplo.com" required>
            <br>
            <label for="password">Contrase&ntilde;a</label>
            <br>
            <input type="password" placeholder="Ingresa tu contrase&ntilde;a" required>
            <br>
            <label for="confirm-password">Confirmar Contrase&ntilde;a</label>
            <br>
            <input type="password" placeholder="Confirma tu contrase&ntilde;a" required>
            <button type="submit">Registrar</button>
            <br>
        </form>
        <p class="registro">¿Ya tienes cuenta? <a href="/auth/inicio-de-sesion">Inicia Sesión</a></p>
    </section>
</div>